
.DS_Store
snargs-book 2.synctex(busy)
snargs-book.aux
snargs-book.bbl
snargs-book.bcf
snargs-book.blg
snargs-book.fdb_latexmk
snargs-book.fls
snargs-book.lof
snargs-book.log
snargs-book.lot
snargs-book.run.xml
snargs-book.synctex.gz
snargs-book.toc
snargs-book 3.synctex(busy)
snargs-book 4.synctex(busy)
snargs-book.synctex(busy)
